{:mvn/repos
 {"glms-dev-maven-host"
  {:url "https://artifacts.rbi.tech/artifactory/glms-dev-maven-host/"}}

 :deps
 {edd-core/edd-core                     {:local/root "../../"}
  app-group-id/edd-core-io  {:mvn/version "1.2045"}
  app-group-id/edd-core-clj {:mvn/version "1.2045"}
  com.github.seancorfield/honeysql      {:mvn/version "2.6.1147"}}

 :paths
 ["src" "resources"]

 :aliases
 {:jar
  {:extra-paths ["resources"]
   :extra-deps  {luchiniatwork/cambada {:mvn/version "1.0.2"}},
   :main-opts   ["-m" "cambada.jar"
                 "-m" "lambda.core"
                 "-m" "--copy-source"]}
  :test
  {:extra-deps  {lambdaisland/kaocha   {:mvn/version "1.75.1190"}
                 edd-core/edd-core-io  {:local/root "../edd-core-io"}
                 edd-core/edd-core-clj {:local/root "../edd-core-clj"}}
   :extra-paths ["test"]}

  :dev
  {:extra-paths ["dev/src" "dev/resources"]
   :extra-deps  {edd-core/edd-core-io  {:local/root "../edd-core-io"}
                 edd-core/edd-core-clj {:local/root "../edd-core-clj"}}}

  :unit
  {:main-opts ["-m" "kaocha.runner" "unit"]}

  :docker
  {:main-opts ["-m" "kaocha.runner" "docker"]}

  :outdated
  {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
   :main-opts  ["-m" "depot.outdated.main"]}}}
