{:deps    {org.clojure/clojure       {:mvn/version "1.10.3"}
           alpha-prosoft/jsonista    {:mvn/version "0.2.8"}
           org.clojure/tools.logging {:mvn/version "1.1.0"}
           seancorfield/next.jdbc    {:mvn/version "1.1.613"}
           metosin/malli             {:mvn/version "0.3.0"}
           org.postgresql/postgresql {:mvn/version "42.2.19"}
           org.clojure/data.csv      {:mvn/version "1.0.0"}
           http-kit/http-kit         {:mvn/version "2.5.3"}
           clj-aws-sign/clj-aws-sign {:mvn/version "0.1.1"}
           com.auth0/java-jwt        {:mvn/version "3.14.0"}
           com.auth0/jwks-rsa        {:mvn/version "0.17.0"}}

 :paths   ["src" "resources"],
 :aliases {:jar      {:extra-paths ["resources"]
                      :extra-deps  {luchiniatwork/cambada {:mvn/version "1.0.2"}},
                      :main-opts   ["-m" "cambada.jar"
                                    "-m" "lambda.core"
                                    "-m" "--copy-source "]},
           :test     {:extra-paths ["test"],
                      :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}},
           :unit     {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.700"}},
                      :main-opts  ["-m" "kaocha.runner", "unit"]}
           :it       {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.700"}},
                      :main-opts  ["-m" "kaocha.runner", "it"]}
           :readme   {:extra-paths ["target/src"]
                      :extra-deps  {alpha-prosoft/readme {:mvn/version "1.7"}}
                      :main-opts   ["-m" "seancorfield.readme"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "2.0.1"}}
                      :main-opts  ["-m" "depot.outdated.main"]}}}
