#kaocha/v1
{:tests [{:id           :unit
          :source-paths ["src"]
          :test-paths   ["test"]
          :ns-patterns  ["-test$"]}
         {:id           :it
          :source-paths ["src"]
          :test-paths   ["test"]
          :ns-patterns  ["-it$"]}]
 :color? true
 :fail-fast? false
 :randomize? false
 :diff-style :deep
 :plugins [:kaocha.plugin/profiling]
 :kaocha.plugin.profiling/count 10}
