;;
;; Attributes used for wildcard search. For them,
;; we create indexes like:
;;
;; attribute #>> array['attrs', 'foo', 'bar'] using GIST with gist_trgm_ops
;;
;; We use trigram indexes because the regex_like jsonpath
;; operator doesn't support GIN/jsonb_path_ops index.
;;

{:glms-user-management-svc
 #{:attrs.full_name_lower
   :attrs.email}

 :glms-application-svc
 #{:attrs.application-id
   :attrs.top-gcc.gics-level-1-short-name
   :attrs.top-gcc.gics-level-3-long-name
   :attrs.risk-on.cocunut
   :attrs.approval-authority
   :attrs.top-gcc.gics-level-1-long-name
   :attrs.risk-on.short-name
   :attrs.status
   :attrs.top-gcc.short-name
   ;; :attrs.requests.request-type ;; ignore it because `attrs.requests` is an array
   :attrs.top-gcc.gics-level-3-short-name
   :attrs.top-gcc.cocunut
   :attrs.applicant.id}

 :glms-facility-svc
 #{:attrs.crm-external-code
   :attrs.external-id
   :lms-crm-code}

 :glms-dimension-svc
 #{:attrs.cocunut
   :attrs.short-name
   :attrs.top-parent-id}

 :glms-task-manager-svc
 #{:attrs.created-by.id
   :attrs.description
   :attrs.type
   :attrs.status
   :attrs.gcc.short-name
   :attrs.application.application-id
   :attrs.gcc.cocunut}}
