;;
;; Attributes known to be used for exact matching
;; or sorting. Acts as a source of truth when ge-
;; nerating btree indexes. An example of index:
;;
;; attribute #>> array['attrs', 'foo', 'bar']
;;

{:glms-application-svc
 #{;; initial
   :attrs.application-id

   ;; V005, filtering in UI
   :attrs.area
   :attrs.booking-company
   :attrs.status

   ;; V005, sorting in UI
   :attrs.risk-on.top-gcc-short-name
   :attrs.risk-on.asset-class.asset-class-code
   :attrs.applicant.id
   :attrs.resolution-date}

 :glms-task-manager-svc
 #{;; V003, sorting in UI
   :attrs.status
   :attrs.due-date
   :attrs.gcc.cocunut
   :attrs.type
   :attrs.created-by.id
   ;; filtering in UI
   :attrs.application.area
   :attrs.application.booking-company}

 :glms-dimension-svc
 #{;; search
   :state
   :attrs.cocunut
   :attrs.top-parent-id

   ;; sorting in UI
   :attrs.top-parent-short-name
   :attrs.asset-class.asset-class-code
   :attrs.gics-level-1-short-name
   :attrs.country-of-risk}

 :glms-notification-svc
 #{:attrs.status
   :attrs.user.id
   :attrs.user.role}

 :glms-currency-svc
 #{:business-date
   :batch-number}}
