{:deps {}
 :paths ["src" "resources"]
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
          :ns-default build}

  :test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}},

  :it
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.75.1190"}},
   :main-opts ["-m" "kaocha.runner" "it"]}

  :unit
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.75.1190"}},
   :main-opts ["-m" "kaocha.runner" "unit"]}

  :dev
  {:extra-paths ["dev" "dev/resources"]}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.01.20"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "."]}

  :format
  {:extra-deps
   {dev.weavejester/cljfmt {:mvn/version "0.11.2"}}
   :main-opts  ["-m" "cljfmt.main" "fix" "src" "test" "--config" "cljfmt.edn"]}}}
