#kaocha/v1
{:jvm-opts ["-Dclojure.tools.logging.factory=lambda.logging-local/slf4j-local-factory"]
 :tests [{:id           :unit
          :source-paths ["src"]
          :test-paths   ["test"]
          :ns-patterns  ["-test$"]}]}
