{:deps {com.amazonaws/aws-lambda-java-core {:mvn/version "1.2.2"}
        app-group-id/edd-core {:local/root "../../"}}
 :paths ["src" "resources" "api/src"]
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
          :ns-default build}
  :test {:extra-paths ["test"],
         :extra-deps  {org.clojure/test.check     {:mvn/version "1.1.1"}
                       com.gfredericks/test.chuck {:mvn/version "0.2.14"}}},
  :unit {:extra-deps {lambdaisland/kaocha {:mvn/version "1.82.1306"}},
         :main-opts  ["-m" "kaocha.runner"]}
  :dev {:extra-paths ["dev" "dev/resources"]}}}
